# Gitignore file for common terraform files

# Ignore all .tfstate files
*.tfstate

# Ignore all .tfvars files
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
public_ip.json
*.tfstate
*.tfstate.backup
*.terraform